{% set title = title ?? '' %}
{% set description = description ?? '' %}
{% set keywords = keywords ?? '' %}
{% set assets_path = '../assets/' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Begin Jekyll SEO tag v2.7.1 -->
    <title>Apisearch Blog | {{ title }}</title>
    <meta property="og:title" content="Apisearch Blog" />
    <meta property="og:locale" content="es_ES" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="Apisearch, tiendas online, buscador, ecommerce, {{ keywords }}" />
    <meta property="og:description" content="{{ description }}" />
    <link rel="canonical" href="https://apisearch.io/blog/{{ url }}" />
    <meta property="og:url" content="https://apisearch.io/blog/{{ url }}" />
    <meta property="og:site_name" content="Apisearch Blog" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Apisearch Blog | {{ title }}" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ assets_path }}/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ assets_path }}/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ assets_path }}/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ assets_path }}/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ assets_path }}/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ assets_path }}/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ assets_path }}/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ assets_path }}/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ assets_path }}/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ assets_path }}/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ assets_path }}/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ assets_path }}/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ assets_path }}/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ assets_path }}/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ assets_path }}/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="application/ld+json">
        {"headline":"Apisearch Blog | {{ title }}","@type":"WebSite","description":"{{ description }}","url":"https://apisearch.io/blog/{{ url }}","name":"Apisearch Blog | {{ title }}","@context":"https://schema.org"}</script>
    <!-- End Jekyll SEO tag -->
    <link rel="stylesheet" href="../assets/css/blog.css"><link type="application/atom+xml" rel="alternate" href="https://apisearch.io/blog/feed.xml" title="Apisearch Blog" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TMLLP7STF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9TMLLP7STF');
    </script>

    <script>
        window.intercomSettings = {
            api_base: "https://api-iam.intercom.io",
            app_id: "avrlw1ft"
        };
    </script>

    <script>
        setTimeout(function() {
            (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/avrlw1ft';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        }, 2000);
        // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/avrlw1ft'
    </script>

</head>
<body>
{% include "header.twig" %}
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
</main>
{% include "footer.twig" %}
</body>

</html>
