{% verbatim %}
<script type="text/template" id="steps-result-search-tpl">
    <div class="flex flex-col">
        {{#items}}
        <div class="group block rounded-lg p-1 border border-gray-200 mt-2 grid grid-cols-4">
            <img width="70" height="70" class="border-1 border-white"
                 src="https://raw.githubusercontent.com/apisearch-io/funko-database/master/img/{{metadata.image}}"
                 title="{{metadata.title}}"
            />
            <div class="ml-3 mt-2 text-left col-span-3">
                <span style="color: #444;">{{metadata.title}}</span>
                <span class="ml-2 mr-2"><i class="fa fa-star mr-1 text-green-500"></i>{{indexedMetadata.rating_5}}</span><br>
                <span style="color: #888; font-size: 13px;">{{indexedMetadata.collection.name}}</span>
            </div>
        </div>
        {{/items}}
    </div>
    {{^items}}
    <div class="notification">
        Oops! We didn't find any results for <b>{{query}}</b> 🙉
    </div>
    {{/items}}
</script>
{% endverbatim %}


{% verbatim %}
<script type="text/template" id="steps-information-container-template">
    <span class="tag is-primary">
          <i class="fa fa-bolt"></i> &nbsp; Found {{total_hits}}!
      </span>
</script>
{% endverbatim %}

<script type="text/javascript">
    // UI Instance
    const stepsUI = uiFactory.createUI();

    // Widgets setup
    stepsUI.addWidgets(
        stepsUI.widgets.searchInput({
            target: '#search-steps-input',
            placeholder: 'Search your superhero!',
            autofocus: false,
            autocomplete: true,
            searchableFields: [
                "searchable_metadata.title^3",
                "searchable_metadata.color^2",
                "searchable_metadata.collection^2",
            ],
            classNames: {
                input: "border-green-400 ring-1 ring-green-400 outline-none w-full text-sm text-black placeholder-gray-500 border border-gray-200 rounded py-2 pl-10"
            }
        }),
        stepsUI.widgets.result({
            target: '#search-steps-results',
            itemsPerPage: 4,
            template: {
                itemsList: document.getElementById('steps-result-search-tpl').text,
            }
        })
    );

    // Init the magic!
    stepsUI.init({firstQuery: true});
</script>
