<section class="py-20 bg-blueGray-50" id="clients">
    <div class="container px-4 mx-auto">
        <div class="max-w-lg mx-auto mb-12 text-center">
            <h2 class="max-w-xl mx-auto mb-4 text-4xl font-bold font-heading">
                {{ t.clients.title|raw }}
            </h2>
            <p class="max-w-xl mx-auto text-lg text-blueGray-400">{{ t.clients.description|raw }}</p>
        </div>
        <div class="flex flex-wrap" style="justify-content: center">
            {% for element in t.clients.elements %}
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 py-5 sm:px-2 md:px-5">
                    <div class="px-6 py-10 bg-white shadow rounded">
                        <div class="flex items-center mb-4 justify-center">
                            <a href="{{ element.url }}" target="_blank">
                                <img class="h-32 w-32 object-contain" src="{{ assets_path }}/images/clients/{{ element.img }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
