<div class="relative mt-32 mx-auto">
    <div class="py-3 max-w-5xl mx-auto hidden lg:block">
        <div class="relative" style="z-index: 0">
            <img class="with-shadow" style="margin-bottom: 50px; opacity: .8" src="{{ assets_path }}/images/previews/{{ shop }}.webp" />
            <img class="with-strong-shadow absolute" style="bottom: -20px; left: -30px" src="{{ assets_path }}/images/previews/{{ shop }}-mobile.webp" />
            <img class="with-strong-shadow absolute" style="bottom: -50px; right: -50px" src="{{ assets_path }}/images/previews/{{ shop }}-tablet.webp" />
        </div>
    </div>

    <div class="py-3 hidden sm:block lg:hidden">
        <div class="relative" style="z-index: 0">
            <img class="with-shadow mx-auto" style="margin-bottom: 100px;" src="{{ assets_path }}/images/previews/{{ shop }}-tablet.webp" />
            <img class="with-strong-shadow absolute" style="bottom: -50px; right: 100px" src="{{ assets_path }}/images/previews/{{ shop }}-mobile.webp" />
        </div>
    </div>

    <div class="py-3 block sm:hidden">
        <div class="relative" style="z-index: 0">
            <img class="with-shadow mx-auto" style="margin-bottom: 50px;" src="{{ assets_path }}/images/previews/{{ shop }}-tablet.webp" />
        </div>
    </div>
</div>
