<section class="py-20">
    <div class="container px-4 mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            <svg class="w-12 h-12 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
            </svg>
            <div class="max-w-md mb-8 mx-auto">
                <h2 class="mt-2 text-4xl font-bold">{{ t.contact.title }}</h2>
                <p class="leading-relaxed">{{ t.contact.text|raw }}</p>
            </div>
            <div>
                <form action="https://mmoreram.us3.list-manage.com/subscribe/post?u=c11fd3061a6f0d72f6464d2f4&amp;id=34387f30c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate text-left" target="_blank" novalidate>

                    <div class="mb-4">
                        <input class="w-full p-4 text-sm font-semibold leading-none bg-white rounded outline-none" type="text" placeholder="{{ t.contact.input_name_placeholder }}" name="FNAME">
                    </div>
                    <div class="mb-4">
                        <input class="w-full p-4 text-sm font-semibold leading-none bg-white rounded outline-none" type="email" placeholder="{{ t.contact.input_email_placeholder }}" name="EMAIL">
                    </div>
                    <div class="mb-4">
                        <input class="w-full p-4 text-sm font-semibold leading-none bg-white rounded outline-none" type="email" placeholder="{{ t.contact.input_website_placeholder }}" name="MERGE6">
                    </div>
                    <div class="mb-4">
                        <textarea class="w-full h-24 p-4 text-sm font-semibold leading-none resize-none bg-white rounded outline-none" type="text" placeholder="{{ t.contact.input_message_placeholder }}" name="MESSAGE"></textarea>
                    </div>
                    <div class="flex justify-left text-left text-sm">
                        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                            <div class="content__gdpr">
                                <label>{{ t.contact.gdpr_text1|raw }}</label>
                                <p class="mt-2">{{ t.contact.gdpr_text2|raw }}</p>
                                <fieldset class="mc_fieldset gdprRequired mc-field-group mt-3 mb-3" name="interestgroup_field">
                                    <label class="checkbox subfield" for="gdpr_43253"><input type="checkbox" id="gdpr_43253" name="gdpr[43253]" value="Y" class="av-checkbox mr-2"><span>{{ t.contact.gdpr_email }}</span></label><br>
                                    <label class="checkbox subfield" for="gdpr_43257"><input type="checkbox" id="gdpr_43257" name="gdpr[43257]" value="Y" class="av-checkbox mr-2"><span>{{ t.contact.gdpr_direct }}</span> </label><br>
                                    <label class="checkbox subfield" for="gdpr_43261"><input type="checkbox" id="gdpr_43261" name="gdpr[43261]" value="Y" class="av-checkbox mr-2"><span>{{ t.contact.gdpr_custom }}</span> </label>
                                </fieldset>
                                <p>{{ t.contact.gdpr_text3|raw }}</p>
                            </div>
                            <div class="content__gdprLegal mt-4 relative">
                                <div class="absolute m-2" style="top:0; left: 0;">
                                    <svg class="w-12 h-12 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                    </svg>
                                </div>
                                <p class="ml-20">{{ t.contact.gdpr_text4|raw }}</p>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c11fd3061a6f0d72f6464d2f4_34387f30c7" tabindex="-1" value=""></div>
                    </div>
                    <button class="mt-8 py-4 px-8 text-sm text-white font-semibold leading-none rounded" type="submit">{{ t.contact.gdpr_submit }}</button>
                </form>
            </div>
        </div>
    </div>
</section>
