<section id="features" class="relative pb-32 overflow-hidden pt-32">
    <div class="container mx-auto px-4 mb-12">
        <h3 class="mb-6 max-w-xl mx-auto font-heading font-thin text-center text-5xl sm:text-6xl md:text-7xl text-gray-900">Nuestras funcionalidades</h3>
        <p class="mb-16 max-w-lg mx-auto text-center text-gray-600 text-lg">Descubre las funcionalidades que Apisearch puede ofrecer a tu tienda online.</p>
        <div class="flex flex-wrap -m-8">
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/fault-tolerance.webp?hash={{ hash }}" alt="Representación de la funcionalidad tolerancia a fallos en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Tolerancia a fallos</h4>
                    <p class="mb-5 text-gray-600 text-base">Sabemos que no todas las palabras son fáciles de escribir. No importa. Nosotros las encontramos igualmente.</p>
                </div>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/multi-device.webp?hash={{ hash }}" alt="Representación de la funcionalidad multi dispositivo en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Multi dispositivo</h4>
                    <p class="mb-5 text-gray-600 text-base">No importa desde donde entren tus usuarios. Ofréceles siempre la mejor experiencia de búsqueda.</p>
                </div>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/first-top-sales.webp?hash={{ hash }}" alt="Representación de la funcionalidad posicionamiento por ventas en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Ordena por ventas</h4>
                    <p class="mb-5 text-gray-600 text-base">Los productos más vendidos siempre tendrán un poco más de relevancia que los demás.</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/custom-rules.webp?hash={{ hash }}" alt="Representación de la funcionalidad promociones en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Crea promociones</h4>
                    <p class="mb-5 text-gray-600 text-base">Promociona productos cuando un cliente busque una palabra específica.</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/filters.webp?hash={{ hash }}" alt="Representación de la funcionalidad de filtros en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Filtros</h4>
                    <p class="mb-5 text-gray-600 text-base">Proporciona una navegación más óptima con nuestra variedad de filtros.</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/funnel.webp?hash={{ hash }}" alt="Representación de la funcionalidad de métricas en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">Métricas</h4>
                    <p class="mb-5 text-gray-600 text-base">Analiza todo lo que pasa en el buscador para mejorar su rendimiento.</p>
                </div>
            </div>
        </div>
    </div>
</section>
