<section id="features" class="relative pb-32 overflow-hidden pt-32">
    <div class="container mx-auto px-4 mb-12">
        <h3 class="mb-6 max-w-xl mx-auto font-heading font-thin text-center text-5xl sm:text-6xl md:text-7xl text-gray-900">{{ t.features.title }}</h3>
        <p class="mb-16 max-w-lg mx-auto text-center text-gray-600 text-lg">{{ t.features.subtitle }}</p>
        <div class="flex flex-wrap -m-8">
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/fault-tolerance.webp?hash={{ hash }}" alt="Representación de la funcionalidad tolerancia a fallos en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.fuzziness.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.fuzziness.subtitle }}</p>
                </div>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/multi-device.webp?hash={{ hash }}" alt="Representación de la funcionalidad multi dispositivo en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.multi_device.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.multi_device.subtitle }}</p>
                </div>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/first-top-sales.webp?hash={{ hash }}" alt="Representación de la funcionalidad posicionamiento por ventas en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.sort.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.sort.subtitle }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/custom-rules.webp?hash={{ hash }}" alt="Representación de la funcionalidad promociones en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.rules.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.rules.subtitle }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/filters.webp?hash={{ hash }}" alt="Representación de la funcionalidad de filtros en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.filters.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.filters.subtitle }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <div class="group">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/funnel.webp?hash={{ hash }}" alt="Representación de la funcionalidad de métricas en Apisearch" loading="lazy">
                    </div>
                    <h4 class="mb-4 font-heading font-bold text-gray-900 text-2xl">{{ t.features.metrics.title }}</h4>
                    <p class="mb-5 text-gray-600 text-base">{{ t.features.metrics.subtitle }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
