<section id="features" class="relative pt-24 pb-32 overflow-hidden">
    <div class="container mx-auto px-4 mb-12">
        <h2 class="mb-6 max-w-xl mx-auto font-heading font-thin text-center text-6xl sm:text-7xl text-gray-900">Nuestras funcionalidades</h2>
        <p class="mb-16 max-w-lg mx-auto text-center text-gray-600 text-lg">Descubre las funcionalidades que Apisearch puede ofrecer a tu tienda online.</p>
        <div class="flex flex-wrap -m-8">
            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/fault-tolerance.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Tolerancia a fallos</h3>
                    <p class="mb-5 text-gray-600 text-base">Sabemos que no todas las palabras son fáciles de escribir. No importa. Nosotros las encontramos igualmente.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/multi-device.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Multi dispositivo</h3>
                    <p class="mb-5 text-gray-600 text-base">No importa desde donde entren tus usuarios. Ofréceles siempre la mejor experiencia de búsqueda.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>

            </div>
            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/first-top-sales.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Ordena por ventas</h3>
                    <p class="mb-5 text-gray-600 text-base">Los productos más vendidos siempre tendrán un poco más de relevancia que los demás.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/custom-rules.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Crea promociones</h3>
                    <p class="mb-5 text-gray-600 text-base">Promociona productos cuando un cliente busque una palabra específica.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/filters.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Filtros</h3>
                    <p class="mb-5 text-gray-600 text-base">Proporciona una navegación más óptima con nuestra variedad de filtros.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>
            </div>

            <div class="w-full md:w-1/3 p-16">
                <a class="group" href="#">
                    <div class="mb-9 overflow-hidden rounded-2xl">
                        <img class="transform hover:scale-110 w-full transition ease-out duration-500" src="{{ assets_path }}/images/features/funnel.webp" alt="">
                    </div>
                    <h3 class="mb-4 font-heading font-bold text-gray-900 text-2xl group-hover:underline">Métricas</h3>
                    <p class="mb-5 text-gray-600 text-base">Analiza todo lo que pasa en el buscador para mejorar su rendimiento.</p>
                </a><a class="group inline-block font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden" href="#">
                    <p class="mb-1">+ Leer más</p>
                </a>
            </div>
        </div>
    </div>
</section>
