<section class="relative">
    <div class="container px-4 mx-auto">
        <div class="relative flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/2 pt-20 px-4 max-w-lg lg:max-w-full mx-auto lg:mx-0 text-center lg:text-left">
                <a class="inline-block mx-auto lg:ml-0 text-3xl font-semibold leading-none mb-2" href="index.html"><img src="{{ assets_path }}/images/logo-apisearch-new.png" alt="Apisearch" width="200"></a>
                <p class="text-xs">© 2021-2023. All rights reserved.</p>
            </div>
            <div class="relative w-full lg:w-1/2 px-4 py-8 lg:pt-10 lg:pl-12">
                <div class="flex flex-row flex-wrap justify-around">
                    <div class="w-1/2 lg:w-auto mb-12">
                        <h5 class="mb-6 text-lg font-bold">Recursos</h5>
                        <ul class="space-y-3">
                            <li><a class="as-primary-color" target="_blank" href="https://apisearchio.wordpress.com/">Blog</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 lg:w-auto mb-4">
                        <h5 class="mb-6 text-lg font-bold">Empresa</h5>
                        <ul class="space-y-3">
                            <li><a class="as-primary-color">{{ email("info@apisearch.io")|raw }}</a></li>
                            <li><a class="as-primary-color"><a href="{{ url("terms_and_conditions") }}">{{ urlname("terms_and_conditions") }}</a></li>
                            <li><a class="as-primary-color"><a href="{{ url("privacy_policy") }}">{{ urlname("privacy_policy") }}</a></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
