<section class="relative">
    <div class="container px-4 mx-auto">
        <div class="relative flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/3 pt-20 px-4 max-w-lg lg:max-w-full mx-auto lg:mx-0 text-center lg:text-left">
                <a class="inline-block mx-auto lg:ml-0 text-3xl font-semibold leading-none mb-2" href="index.html"><img src="{{ assets_path }}/images/logo-apisearch-new.webp?hash={{ hash }}" alt="Logo de Apisearch" width="200" loading="lazy"></a>
                <p class="text-xs">© 2021-2024. All rights reserved.</p>
            </div>
            <div class="relative w-full lg:w-2/3 px-4 py-8 lg:pt-10 lg:pl-12">
                <div class="flex flex-row flex-wrap justify-around">

                    <div class="w-1/3 lg:w-auto mb-4">
                        <h5 class="mb-4 text-lg font-bold">{{ t.footer.integrations }}</h5>
                        <ul class="space-y-3 mb-6">
                            <li><a href="{{ url("prestashop") }}">Prestashop</a></li>
                            <li><a href="{{ url("shopify") }}">Shopify</a></li>
                            <li><a href="{{ url("woocommerce") }}">Woocommerce</a></li>
                            <li><a href="{{ url("google_shopping") }}">Google Shopping</a></li>
                            <li><a href="{{ url("mabisy") }}">Mabisy</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 lg:w-auto mb-12">
                        <h5 class="mb-4 text-lg font-bold">{{ t.footer.resources }}</h5>
                        <ul class="space-y-3">
                            <li><a class="as-primary-color" target="_blank" href="https://apisearch.io/blog">Blog</a></li>
                            <li><a class="as-primary-color" target="_blank" href="https://www.linkedin.com/company/18418235">Linkedin</a></li>
                            <li><a class="as-primary-color" target="_blank" href="https://twitter.com/apisearchio">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="w-1/2 lg:w-auto mb-4">
                        <h5 class="mb-4 text-lg font-bold">{{ t.footer.company }}</h5>
                        <ul class="space-y-3">
                            <li><a class="as-primary-color" href="#contact">{{ t.footer.contact }}</a></li>
                            <li><a class="as-primary-color" href="{{ url("terms_and_conditions") }}">{{ urlname("terms_and_conditions") }}</a></li>
                            <li><a class="as-primary-color" href="{{ url("privacy_policy") }}">{{ urlname("privacy_policy") }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
