<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
<title>{{ t.meta.title }}</title>
<meta name="title" content="{{ t.meta.title }}">
<meta name="description" content="{{ t.meta.description }}">
<meta name="keywords" content="{{ t.meta.keywords }}">
<meta name="author" content="{{ t.meta.author }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ t.meta.url }}">
<meta property="og:title" content="{{ t.meta.title }}">
<meta property="og:description" content="{{ t.meta.description }}">
<meta property="og:image" content="{{ t.meta.image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ t.meta.url }}">
<meta property="twitter:title" content="{{ t.meta.title }}">
<meta property="twitter:description" content="{{ t.meta.description }}">
<meta property="twitter:description" content="{{ t.meta.image }}">

