<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Apisearch official website.">
<meta name="author" content="Apisearch team <info@apisearch.io>">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ assets_path }}/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ assets_path }}/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ assets_path }}/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ assets_path }}/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ assets_path }}/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ assets_path }}/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ assets_path }}/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ assets_path }}/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ assets_path }}/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ assets_path }}/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ assets_path }}/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ assets_path }}/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ assets_path }}/images/favicons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ assets_path }}/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
<title>{{ t.title }}</title>
<meta name="title" content="{{ t.title }}">
<meta name="description" content="{{ t.meta.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ t.meta.url }}">
<meta property="og:title" content="{{ t.title }}">
<meta property="og:description" content="{{ t.meta.description }}">
<meta property="og:image" content="{{ assets_path }}/apisearch-panel.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ t.meta.url }}">
<meta property="twitter:title" content="{{ t.title }}">
<meta property="twitter:description" content="{{ t.meta.description }}">
<meta property="twitter:image" content="{{ assets_path }}/apisearch-panel.png">

