<nav class="flex justify-between items-center py-6"><a class="text-3xl font-semibold leading-none" href="{{ root_path }}/index.html"><img src="{{ assets_path }}/images/apisearch-long-logo.png" alt="Apisearch" width="200"></a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center py-2 px-3 text-green-600 hover:text-green-700 rounded border border-green-200 hover:border-green-300">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Mobile menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
    </div>
    <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12">
        <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="{{ root_path }}/index.html">Product</a></li>
        <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="{{ root_path }}/cloud.html">Cloud</a></li>
        <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="{{ root_path }}/prices.html">Prices</a></li>
        <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="{{ root_path }}/partners.html">Partners</a></li>
        <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" target="_blank" href="http://docs.apisearch.io/">Documentation</a></li>
    </ul>
    <div class="hidden lg:block">
        <a class="inline-block px-4 py-3 text-xs font-semibold leading-none bg-green-600 hover:bg-green-700 text-white rounded" href="https://apisearch.cloud">Sign In</a>
    </div>
</nav>
