<section id="main-nav-section" class="bg-cover 2xl:bg-contain bg-top bg-no-repeat">
    <nav id="main-nav" class="container px-4 mx-auto flex justify-between items-center py-6"><a class="text-3xl font-semibold leading-none" href="{{ root_path }}">
            <img class="logo-white" src="{{ assets_path }}/images/logo-apisearch-new.webp" alt="Apisearch" width="200">
        </a>
        <div class="lg:hidden flex">
            <a class="to-cloud inline-block px-4 py-3 text-xs font-semibold leading-none text-white rounded as-secondary-color as-button-secondary-color" href="{{ config.demo_form_url }}" target="_blank">{{ t.menu.ask_a_demo }}</a>
        </div>
        <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12">
            <li><a class="text-sm text-white" href="{{ root_path }}#features">Funcionalidades</a></li>
            <li><a class="text-sm text-white" href="{{ root_path }}#prices">Precios</a></li>
            <li><a class="text-sm text-white" onclick="openSubMenu(event, 'main-nav-integrations');">Integraciones</a></li>
            <li><a class="text-sm text-white" href="https://apisearch.io/blog" target="_blank">Blog</a></li>
        </ul>
        <div class="hidden lg:block">
            <a class="inline-block px-4 py-3 text-xs font-semibold leading-none text-white rounded as-secondary-color as-button-secondary-color to-cloud" href="{{ config.demo_form_url }}" target="_blank">{{ t.menu.ask_a_demo }}</a>
        </div>
    </nav>

    <div id="main-nav-integrations" class="main-subnav px-4 py-6 hidden">
        <div class="container mx-auto flex flex-col justify-between items-left">
            <div class="integrations">
                <div class="integration">
                    <a href="{{ url("prestashop") }}">
                        <img src="{{ assets_path }}/images/integrations/prestashop.webp" style="filter: brightness(0) invert(1)">
                    </a>
                    <div>Utiliza nuestro plugin para la versión 1.7 y 8 de Prestashop</div>
                    <a href="{{ url("prestashop") }}">+ Leer más</a>
                </div>
                <div class="integration">
                    <a href="{{ url("shopify") }}">
                        <img src="{{ assets_path }}/images/integrations/shopify-transparent.webp" style="filter: brightness(0) invert(1)">
                    </a>
                    <div>No necesitas plugin para añadir a tu tienda Shopify un buscador de primera</div>
                    <a href="{{ url("shopify") }}">+ Leer más</a>
                </div>
                <div class="integration">
                    <a href="{{ url("woocommerce") }}">
                        <img src="{{ assets_path }}/images/integrations/woocommerce.webp">
                    </a>
                    <div>Nunca había sido tan fácil instalar un buscador en tu tienda Woocommerce</div>
                    <a href="{{ url("woocommerce") }}">+ Leer más</a>
                </div>
                <div class="integration">
                    <a href="{{ url("google_shopping") }}">
                        <img src="{{ assets_path }}/images/integrations/google-shopping.webp" style="filter: brightness(0) invert(1)">
                    </a>
                    <div>Con tan solo 1 feed de Google Merchant, ya puedes tener tu buscador funcionando</div>
                    <a href="{{ url("google_shopping") }}">+ Leer más</a>
                </div>
            </div>
        </div>
    </div>
</section>
