<nav class="flex justify-between items-center py-6"><a class="text-3xl font-semibold leading-none" href="{{ root_path }}/index.html">
        <img class="logo-white" src="{{ assets_path }}/images/apisearch-long-logo.png" alt="Apisearch" width="200">
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center py-2 px-3 text-white hover:text-indigo-500 hover:bg-white border border-white rounded">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Mobile menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
    </div>
    <ul class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12">
        <li><a class="text-sm text-white" href="#all-in-one">{{ t.menu.link1 }}</a></li>
        <li><a class="text-sm text-white" href="#prices">{{ t.menu.link2 }}</a></li>
        <li><a class="text-sm text-white" href="#clients">{{ t.menu.link3 }}</a></li>
        <li class="text-sm text-white" >
            <a class="mr-1" href="{{ root_path }}/ca/index.html">ca</a>|<a class="ml-1 mr-1" href="{{ root_path }}/index.html">es</a>|<a class="ml-1" href="{{ root_path }}/en/index.html">en</a>
        </li>
    </ul>
    <div class="hidden lg:block">
        <a class="inline-block px-4 py-3 text-xs font-semibold leading-none text-white hover:text-indigo-500 hover:bg-white border border-white rounded" href="{{ config.cluster_url }}">{{ t.menu.sign_in }}</a>
    </div>
</nav>
