<div class="hidden navbar-menu relative z-50">
    <div class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-semibold leading-none" href="{{ root_path }}/index.html"><img src="{{ assets_path }}/images/apisearch-long-logo.png" alt="" width="200"></a>
            <button class="navbar-close">
                <svg class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-green-50 hover:text-green-600" href="{{ root_path }}/index.html">Product</a></li>
                <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-green-50 hover:text-green-600" href="{{ root_path }}/cloud.html">Cloud</a></li>
                <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-green-50 hover:text-green-600" href="{{ root_path }}/prices.html">Prices</a></li>
                <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-green-50 hover:text-green-600" href="{{ root_path }}/partners.html">Partners</a></li>
                <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-green-50 hover:text-green-600" href="https://docs.apisearch.io" target="_blank">Documentation</a></li>
            </ul><div class="mt-4 pt-6 border-t border-blueGray-100"><a class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-green-600 hover:bg-green-700 text-white rounded" href="https://apisearch.cloud">Sign In</a></div>
        </div>
        <div class="mt-auto">
            <p class="my-4 text-xs text-blueGray-400">
                <span>Get in Touch</span>
                <a class="text-green-600 hover:text-green-600 underline" href="mailto:info@apisearch.io">info@apisearch.io</a>
            </p>
        </div>
    </nav></div>
