{% extends "layout.twig" %}

{% block content %}
    <section class="xl:bg-contain bg-top bg-no-repeat" style="background-image: url('metis-assets/backgrounds/intersect.svg');"><div class="container px-4 mx-auto">
            {% include "blocks/nav.twig" %}

            <div class="pt-12 pb-16 text-center">
                <div class="max-w-lg mx-auto mb-8">
                    <h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
                        {{ t.header.title|raw }}
                    </h2>
                    <p class="text-blueGray-400 leading-relaxed">{{ t.header.subtitle|raw }}</p>
                </div>
            </div>
            <div class="relative max-w-4xl mx-auto">
                <img src="{{ assets_path }}/metis-assets/elements/macbook.png" alt="">
                <div class="absolute" style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.7%;">
                    <img class="object-cover w-full h-full" src="{{ assets_path }}/images/Screenshot_2021-02-05_Apisearch_-_Admin(6).png" alt="">
                </div>
            </div>
        </div>
        {% include "blocks/nav_mobile.twig" %}
    </section>

    <section class="py-20 bg-blueGray-50">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap items-center justify-between max-w-2xl lg:max-w-full mb-12">
                <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
                    <h2 class="text-3xl md:text-4xl font-bold font-heading">
                        {{ t.configure.title|raw }}
                    </h2>
                </div>
                <div class="w-full lg:w-1/2 lg:pl-16">
                    <p class="text-blueGray-400 leading-loose">
                        {{ t.configure.text }}
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 -mb-6 text-center">
                <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                    <div class="flex-1 p-12 bg-white shadow rounded">
                        <div class="flex w-12 h-12 mx-auto items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">1</div>
                        <img class="h-48 mx-auto my-4 p-8" src="{{ assets_path }}/images/svg/undraw_preferences_popup_wbfw.svg" alt=""><h3 class="mb-2 font-bold font-heading">{{ t.configure.block1_title }}</h3>
                        <p class="text-sm text-blueGray-400 leading-relaxed">{{ t.configure.block1_text }}</p>
                    </div>
                </div>
                <div class="flex flex-col w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                    <div class="flex-1 p-12 bg-white shadow rounded">
                        <div class="flex w-12 h-12 mx-auto items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">2</div>
                        <img class="h-48 mx-auto my-4 p-8" src="{{ assets_path }}/images/svg/undraw_file_synchronization_8dh6.svg" alt=""><h3 class="mb-2 font-bold font-heading">{{ t.configure.block2_title }}</h3>
                        <p class="text-sm text-blueGray-400 leading-relaxed">{{ t.configure.block2_text }}</p>
                    </div>
                </div>
                <div class="flex flex-col w-full lg:w-1/3 px-3 mb-6">
                    <div class="flex-1 p-12 bg-white shadow rounded">
                        <div class="flex w-12 h-12 mx-auto items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">3</div>
                        <img class="h-48 mx-auto my-4 p-8" src="{{ assets_path }}/images/svg/undraw_happy_feeling_slmw.svg" alt=""><h3 class="mb-2 font-bold font-heading">{{ t.configure.block3_title }}</h3>
                        <p class="text-sm text-blueGray-400 leading-relaxed">{{ t.configure.block3_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-12 md:py-32 overflow-x-hidden">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap lg:flex-nowrap">
                <div class="w-full lg:w-1/2">
                    <div class="py-6 lg:pr-32">
                        <div class="mb-4">
                            <h2 class="text-4xl mt-3 font-bold font-heading">{{ t.start.title }}</h2>
                        </div>
                        <div class="flex items-start py-4">
                            <div class="w-8 mr-5 text-green-500">
                                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg></div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">{{ t.start.block1_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.start.block1_text }}</p>
                            </div>
                        </div>
                        <div class="flex items-start py-4">
                            <div class="w-8 mr-5 text-green-500">
                                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path></svg></div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">{{ t.start.block2_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.start.block2_text }}</p>
                            </div>
                        </div>
                        <div class="flex items-start py-4">
                            <div class="w-8 mr-5 text-green-500">
                                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path></svg></div>
                            <div>
                                <h3 class="mb-2 text-xl font-semibold font-heading">{{ t.start.block3_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.start.block3_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative w-full lg:w-1/2 my-12 lg:my-0 hidden md:block">
                    <img class="relative mx-auto rounded-xl w-full z-10 md:p-20" src="{{ assets_path }}/images/svg/undraw_Co_workers_re_1i6i.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="max-w-2xl lg:max-w-3xl mx-auto">
                <div class="mb-12 text-center">
                    <h2 class="text-4xl font-bold font-heading">Get in touch!</h2>
                    <p class="text-blueGray-400">We will be glad to hear from you</p>
                </div>
                <div class="flex flex-wrap -mx-3 text-center">
                    <div class="w-1/2 lg:w-1/3 px-3 mb-12">
                        <svg class="mb-6 h-8 w-8 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                        </svg>
                        <div class="leading-relaxed">
                            <span class="text-sm text-blueGray-400">Phone</span>
                            <p>+ 34 644 279 702</p>
                        </div>
                    </div>
                    <div class="w-1/2 lg:w-1/3 px-3 mb-12">
                        <svg class="mb-6 h-8 w-8 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <div class="leading-relaxed">
                            <span class="text-sm text-blueGray-400">E-mail</span>
                            <p>info@apisearch.io</p>
                            <p>partners@apisearch.io</p>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/3 px-3 mb-12">
                        <svg class="mb-6 h-8 w-8 mx-auto text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <div class="leading-relaxed">
                            <span class="text-sm text-blueGray-400">Internet</span>
                            <p><a class="text-green-500" target="_blank" href="https://twitter.com/apisearch_io">Twitter</a></p>
                            <p><a class="text-green-500" target="_blank" href="https://github.com/apisearch-io">Github</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "blocks/footer.twig" %}
{% endblock content %}
