{% extends "layout.twig" %}

{% block content %}
<section class="bg-cover 2xl:bg-contain bg-top bg-no-repeat" style="background-image: url('{{ assets_path }}/metis-assets/backgrounds/intersect2.svg');">
    <div class="container px-4 mx-auto">

        {% include "blocks/nav.twig" %}

        <div id="top-header" class="pt-12 text-center">
            <div id="demo" class="max-w-lg md:max-w-2xl xl:max-w-3xl mx-auto mb-8 as-green text-left">
                <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl mb-3 font-bold font-heading">{{ t.header.title_1|raw }}</h2>
                <div id="input-search" class="flex cursor-pointer">
                    <i class="fas fa-search text-2xl text-2xl sm:text-3xl md:text-4xl xl:text-5xl mr-4 mt-1 sm:mt-3 lg:mt-3 lg:mt-4 xl:mt-4"></i>
                    <input class="cursor-pointer leading-tight bg-blue-50 block w-full md:mb-0 focus:bg-blue-50 focus:outline-none text-3xl text-3xl sm:text-4xl md:text-5xl xl:text-6xl" type="text" data-run="1" placeholder="" autocomplete="off">
                </div>
                <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl mb-4 mt-3 font-bold font-heading">{{ t.header.title_2|raw }}</h2>
                <p class="text-xl sm:text-2xl md:text:3xl text-blueGray-400 leading-relaxed as-green">{{ t.header.desc }}</p>
            </div>
            <div>
                <a class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none as-button-green rounded" href="{{ config.demo_form_url }}" target="_blank">
                    {{ t.header.button1 }}
                </a>
            </div>
        </div>
    </div>


    <div class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto">

        <div id="video-wrapper-top" class="py-3 lg:max-w-5xl lg:mx-auto">
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-10">
                <div class="max-w-2xl mx-auto">
                    <div id="video-wrapper">
                        <iframe id="video" src="https://player.vimeo.com/video/705937945?h=909154b505" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "blocks/nav_mobile.twig" %}
</section>

{% include "blocks/index/all-in-one.twig" %}

{% include "blocks/index/prices.twig" %}

{% include "blocks/index/clients.twig" %}

{% include "blocks/footer.twig" %}
{% endblock content %}

