{% extends "layout.twig" %}

{% block content %}
<section class="xl:bg-contain bg-top bg-no-repeat" style="background-image: url('{{ assets_path }}/metis-assets/backgrounds/intersect.svg');">
    <div class="container px-4 mx-auto">

        {% include "blocks/nav.twig" %}

        <div class="pt-12 text-center">
            <div class="max-w-lg mx-auto mb-8">
                <h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
                    {{ t.header.title|raw }}
                </h2>
                <p class="text-blueGray-400 leading-relaxed">{{ t.header.desc }}</p>
            </div>
            <div>
                <a class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-green-600 hover:bg-green-700 rounded" href="cloud.html">{{ t.header.button1 }}</a>
                <a class="block sm:inline-block py-4 px-8 text-xs text-green-600 hover:text-green-700 text-center font-semibold leading-none bg-white border border-green-200 hover:border-green-300 rounded" href="https://github.com/apisearch-io/search-server">{{ t.header.button2 }}</a>
            </div>
        </div>
    </div>
    <div class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto">

        <div class="py-3 lg:max-w-5xl lg:mx-auto" style="top: 9%; left: 14%; width: 72%; height: 66%;">
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <div class="max-w-2xl mx-auto">
                    <div style="position: relative">
                        <svg width="20" height="20" fill="currentColor" class="absolute top-1/2 transform -translate-y-1/2 text-green-500" style="top: 21px; left: 10px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                        </svg>
                        <input id="search-main-input" type="text" />

                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <p>Search your favourite characters.</p>
                            <ul class="list-disc space-y-2">
                                <li class="flex items-start">
            <span class="h-6 flex items-center sm:h-7">
              <svg class="flex-shrink-0 h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
                                    <p class="ml-2">
                                        {{ t.demo1.tip1 }}
                                        <code class="text-sm font-bold text-gray-900">the joker</code>
                                    </p>
                                </li>
                                <li class="flex items-start">
            <span class="h-6 flex items-center sm:h-7">
              <svg class="flex-shrink-0 h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
                                    <p class="ml-2">
                                        {{ t.demo1.tip2 }}
                                        <code class="text-sm font-bold text-gray-900">{{ t.demo1.example2 }}</code>
                                    </p>
                                </li>
                                <li class="flex items-start">
            <span class="h-6 flex items-center sm:h-7">
              <svg class="flex-shrink-0 h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
                                    <p class="ml-2">{{ t.demo1.tip3 }} <code class="text-sm font-bold text-gray-900">avengers</code></p>
                                </li>
                            </ul>
                            <p>

                            </p>
                        </div>
                        <div id="search-main-results" style="border: none!important;"></div>
                        <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7" style="border: none!important;">
                            <p>{{ t.demo1.more_text }}</p>
                            <p>
                                <a href="{{ root_path }}/partners.html" class="text-green-600 hover:text-green-700"> {{ t.demo1.more_button }} &rarr; </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "blocks/nav_mobile.twig" %}
</section>


<section class="py-20">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -mx-8">
            <div class="w-full lg:w-1/2 px-8">
                <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                    <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
                        {{ t.what_is.title }}
                    </h2>
                    <p class="mb-8 leading-loose text-blueGray-400">
                        {{ t.what_is.text|raw }}
                    </p>
                </div>
            </div>
            <div class="w-full lg:w-1/2 px-8">
                <ul class="space-y-12"><li class="flex -mx-4">
                        <div class="px-4">
                            <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">1</span>
                        </div>
                        <div class="px-4">
                            <h3 class="my-4 text-xl font-semibold">{{ t.what_is.tip1_title }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ t.what_is.tip1_text }}</p>
                        </div>
                    </li>
                    <li class="flex -mx-4">
                        <div class="px-4">
                            <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">2</span>
                        </div>
                        <div class="px-4">
                            <h3 class="my-4 text-xl font-semibold">{{ t.what_is.tip2_title }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ t.what_is.tip2_text }}</p>
                        </div>
                    </li>
                    <li class="flex -mx-4">
                        <div class="px-4">
                            <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">3</span>
                        </div>
                        <div class="px-4">
                            <h3 class="my-4 text-xl font-semibold">{{ t.what_is.tip3_title }}</h3>
                            <p class="text-blueGray-400 leading-loose">{{ t.what_is.tip3_text }}</p>
                        </div>
                    </li>
                </ul></div>
        </div>
    </div>
</section>


<section class="pt-20 pb-8 bg-blueGray-50">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/2 lg:w-1/4 mb-12 px-3">
                <div class="text-center">
      <span class="inline-block p-5 mb-6 bg-green-600 text-white rounded-full">
        <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </span>
                    <h4 class="mb-3 text-lg font-semibold font-heading">
                        {{ t.use_cases.ecommerce_title }}
                    </h4>
                    <p class="text-blueGray-400 leading-loose">{{ t.use_cases.ecommerce_text }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mb-12 px-3">
                <div class="text-center">
      <span class="inline-block p-5 mb-6 bg-green-600 text-white rounded-full">
        <svg class="h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
        </svg>
      </span>
                    <h4 class="mb-3 text-lg font-semibold font-heading">{{ t.use_cases.marketplace_title }}</h4>
                    <p class="text-blueGray-400 leading-loose">{{ t.use_cases.marketplace_text }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mb-12 px-3">
                <div class="text-center">
      <span class="inline-block p-5 mb-6 bg-green-600 text-white rounded-full">
        <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
        </svg>
      </span>
                    <h4 class="mb-3 text-lg font-semibold font-heading">{{ t.use_cases.blog_title }}</h4>
                    <p class="text-blueGray-400 leading-loose">{{ t.use_cases.blog_text }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 mb-12 px-3">
                <div class="text-center">
      <span class="inline-block p-5 mb-6 bg-green-600 text-white rounded-full">
        <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 14.121L19 19m-7-7l7-7m-7 7l-2.879 2.879M12 12L9.121 9.121m0 5.758a3 3 0 10-4.243 4.243 3 3 0 004.243-4.243zm0-5.758a3 3 0 10-4.243-4.243 3 3 0 004.243 4.243z" />
        </svg>
      </span>
                    <h4 class="mb-3 text-lg font-semibold font-heading">{{ t.use_cases.custom_title }}</h4>
                    <p class="text-blueGray-400 leading-loose">{{ t.use_cases.custom_text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-20 pb-24 bg-green-600"><div class="container px-4 mx-auto">
        <div class="max-w-xl mx-auto text-center">
            <svg  class="text-white w-12 h-12 mx-auto mb-4"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <h2 class="my-3 text-3xl md:text-4xl text-white font-bold font-heading">{{ t.banner.title }}</h2>
            <p class="text-sm md:text-base text-white">{{ t.banner.text }}</p>
            <div class="mt-10">
                <a class="inline-block py-4 px-8 text-xs text-green-600 hover:text-white font-semibold leading-none bg-white hover:bg-green-600 border hover:border-white rounded transition duration-300" href="cloud.html">
                    {{ t.banner.button }}
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-16 pb-20 bg-blueGray-50">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-center mb-12">
            <div class="w-full lg:w-1/2 mb-6 lg:mb-0">
                <h2 class="text-4xl font-bold font-heading">
                    <span>{{ t.features.title|raw }}</span>
                </h2>
            </div>
            <div class="w-full lg:w-1/2">
                <p class="lg:pl-16 text-blueGray-400 leading-loose">
                    {{ t.features.text|raw }}
                </p>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 -mb-6">
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path>
                        <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.typotolerance_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.typotolerance_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M7 2a1 1 0 011 1v1h3a1 1 0 110 2H9.578a18.87 18.87 0 01-1.724 4.78c.29.354.596.696.914 1.026a1 1 0 11-1.44 1.389c-.188-.196-.373-.396-.554-.6a19.098 19.098 0 01-3.107 3.567 1 1 0 01-1.334-1.49 17.087 17.087 0 003.13-3.733 18.992 18.992 0 01-1.487-2.494 1 1 0 111.79-.89c.234.47.489.928.764 1.372.417-.934.752-1.913.997-2.927H3a1 1 0 110-2h3V3a1 1 0 011-1zm6 6a1 1 0 01.894.553l2.991 5.982a.869.869 0 01.02.037l.99 1.98a1 1 0 11-1.79.895L15.383 16h-4.764l-.724 1.447a1 1 0 11-1.788-.894l.99-1.98.019-.038 2.99-5.982A1 1 0 0113 8zm-1.382 6h2.764L13 11.236 11.618 14z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.multilang_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.multilang_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm14 1a1 1 0 11-2 0 1 1 0 012 0zM2 13a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2zm14 1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.multilang_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.multilang_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z" clip-rule="evenodd" />
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.synonyms_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.synonyms_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.autocomplete_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.autocomplete_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.filters_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.filters_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.customizable_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.customizable_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.geo_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.geo_text }}</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.infinite_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.infinite_text }}</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.performant_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.performant_text }}</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.tokens_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.tokens_text }}</p>
                </div>
            </div>

            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z"></path>
                        <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.model_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.model_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd" />
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.cdn_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.cdn_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.metrics_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.metrics_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.import_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.import_text }}</p>
                </div>
            </div>
            <div class="flex flex-col w-full md:w-1/2 lg:w-1/4 px-3 mb-6">
                <div class="flex-1 pt-8 px-6 pb-6 bg-white text-center rounded shadow">
                    <svg class="w-10 h-10 mx-auto mb-4 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13 7H7v6h6V7z"></path>
                        <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd"></path>
                    </svg>
                    <h3 class="mb-2 font-bold font-heading">{{ t.features.plugins_title }}</h3>
                    <p class="text-sm text-blueGray-400">{{ t.features.plugins_text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-20" id="built-for-developers"><div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-center justify-between max-w-2xl lg:max-w-full mb-12">
            <div class="w-full lg:w-1/2 mb-4 lg:mb-0">
                <h2 class="text-3xl md:text-4xl font-bold font-heading">
                    {{ t.for_devs.title|raw }}
                </h2>
            </div>
            <div class="w-full lg:w-1/2 lg:pl-16">
                <p class="text-blueGray-400 leading-loose">
                    {{ t.for_devs.text|raw }}
                </p>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 -mb-6 text-center">
            <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="p-6 bg-white shadow rounded">
                    <div class="flex w-12 h-12 float-left items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">1</div>
                    <h3 class="mt-3 mb-6 font-bold font-heading">{{ t.for_devs.step1_title }}</h3>
                    <p class="text-sm text-blueGray-400 leading-relaxed text-left">
                        {{ t.for_devs.step1_text }}
                    </p>
                    <div class="mt-2">
<pre><code class="lang-php text-left font-size-sm" style="font-size: 11px; line-height: 1em; padding: 2em;">
// Configure the instance<br>
$repository->setCredentials(<br>
new RepositoryReference(<br>
'21abc4',<br>
'23j5tg'<br>
),<br>
'1cc7a3e0-bda5-11e7'<br>
);<br><br>
// Create your entity<br>
$album = new Album(<br>
'768f6d-d78s9',<br>
'Album name',<br>
'Album description'<br>
);<br><br>
// Save it!<br>
$repository->addObject($album);<br>
$repository->flush();
</code></pre>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="p-6 bg-white shadow rounded">
                    <div class="flex w-12 h-12 float-left items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">2</div>
                    <h3 class="mt-3 mb-6 font-bold font-heading">{{ t.for_devs.step2_title }}</h3>
                    <p class="text-sm text-blueGray-400 leading-relaxed text-left">
                        {{ t.for_devs.step2_text }}
                    </p>
                    <div class="mt-2">
<pre><code class="lang-javascript text-left font-size-sm" style="font-size: 11px; line-height: 1em; padding: 2em;">
// Create the instance<br>
const ui = apisearchUI.create({<br>
appId: '21abc4',<br>
indexId: '23j5tg',<br>
token: '1cc7a3e0-bda5-11e7'<br>
});<br>
<br>
// Add your widgets<br>
ui.addWidgets(<br>
ui.widgets.searchInput({<br>
target: '.search-container'<br>
}),<br>
ui.widgets.result({<br>
target: '.result-container',<br>
})<br>
);<br>
<br>
// Initialize it!<br>
ui.init();
</code></pre>
                    </div>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
                <div class="p-6 bg-white shadow rounded">
                    <div class="flex w-12 h-12 float-left items-center justify-center text-green-800 font-bold font-heading bg-green-200 rounded-full">3</div>
                    <h3 class="mt-3 mb-6 font-bold font-heading">{{ t.for_devs.step3_title }}</h3>
                    <p class="text-sm text-blueGray-400 leading-relaxed text-left">
                        {{ t.for_devs.step3_text }}
                    </p>
                    <div class="mt-4">
                        <div>
                            <input id="search-steps-input" />
                        </div>
                        <div id="search-steps-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "blocks/footer.twig" %}
{% endblock content %}


{% block js_widgets %}
    {% include "demos/index_main.twig" %}
    {% include "demos/index_steps.twig" %}
{% endblock js_widgets %}
