{% extends "layout.twig" %}


{% block content %}

    <section>
        <div class="container px-4 mx-auto">
            {% include "blocks/nav.twig" %}
        </div>
        {% include "blocks/nav_mobile.twig" %}
    </section>

    <section class="py-20"><div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-8">
                <div class="w-full lg:w-1/2 px-8">
                    <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                        <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">{{ t.being_reseller.title }}</h2>
                        <p class="mb-8 leading-loose text-blueGray-400">{{ t.being_reseller.text }}</p>
                        <div class="w-full px-3 order-0 md:order-1 mb-12 md:mb-0">
                            <img class="sm:max-w-sm lg:max-w-full mx-auto p-20" src="{{ assets_path }}/images/svg/undraw_content_team_3epn.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-8">
                    <ul class="space-y-12"><li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">1</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_reseller.block1_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_reseller.block1_text }}</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">2</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_reseller.block2_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_reseller.block2_text }}</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">3</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_reseller.block3_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_reseller.block3_text }}</p>
                            </div>
                        </li>
                    </ul></div>
            </div>
        </div>
    </section>

    <section class="py-20"><div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full md:w-1/2 px-3 order-1 md:order-0">
                    <div class="max-w-md">
                        <h2 class="mb-4 text-3xl md:text-4xl font-bold font-heading">{{ t.being_commercial.title }}</h2>
                        <p class="mb-6 leading-loose text-blueGray-400">{{ t.being_commercial.text }}</p>
                        <ul><li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">1</span>
                                <span>30% {{ t.revenue1 }}</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">2</span>
                                <span>20% {{ t.revenue2 }}</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">3</span>
                                <span>10% {{ t.revenue3 }}</span>
                            </li>
                        </ul></div>
                </div>
                <div class="w-full md:w-1/2 px-3 order-0 md:order-1 mb-12 md:mb-0">
                    <img class="sm:max-w-sm lg:max-w-full mx-auto p-20" src="{{ assets_path }}/images/svg/undraw_Business_decisions_re_84ag.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="py-20"><div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full md:w-1/2 px-3 order-1 md:order-0">
                    <div class="max-w-md">
                        <h2 class="mb-4 text-3xl md:text-4xl font-bold font-heading">{{ t.being_evangelist.title }}</h2>
                        <p class="mb-6 leading-loose text-blueGray-400">{{ t.being_evangelist.text }}</p>
                        <ul><li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">1</span>
                                <span>20% {{ t.revenue1 }}</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">2</span>
                                <span>15% {{ t.revenue2 }}</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">3</span>
                                <span>10% {{ t.revenue3 }}</span>
                            </li>
                        </ul></div>
                </div>
                <div class="w-full md:w-1/2 px-3 order-0 md:order-1 mb-12 md:mb-0">
                    <img class="sm:max-w-sm lg:max-w-full mx-auto p-20" src="{{ assets_path }}/images/svg/undraw_mobile_posts_tlwg.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-8">
                <div class="w-full lg:w-1/2 px-8">
                    <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                        <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">{{ t.being_active.title }}</h2>
                        <p class="mb-8 leading-loose text-blueGray-400">{{ t.being_active.text }}</p>
                        <div class="w-full px-3 order-0 md:order-1 mb-12 md:mb-0">
                            <img class="sm:max-w-sm lg:max-w-full mx-auto p-20" src="{{ assets_path }}/images/svg/undraw_share_link_qtxe.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-8">
                    <ul class="space-y-12">
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">1</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_active.block1_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_active.block1_text }}</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">2</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_active.block2_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_active.block2_text }}</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-green-50 text-green-600">3</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">{{ t.being_active.block3_title }}</h3>
                                <p class="text-blueGray-400 leading-loose">{{ t.being_active.block3_text }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include "blocks/footer.twig" %}
{% endblock content %}
