{% extends "bp/layout.twig" %}



{% block content %}
<div id="page">
    <h1>Apisearch Bussines Plan</h1>
    <h2>Detailed Apisearch business plan on November 2023, by Marc Morera</h2>
    <p>Apisearch is a real-time search engine for online stores, based on efficiency, the commitment to always deliver relevant results, and the use of artificial intelligence as an alternative to traditional keyword-based search.</p>
    <p class="mb">Apisearch aims to embrace a scalable and efficient model, always striving to be at the forefront of developing new features related to online store search and building a product that helps companies convert more effectively.</p>

    <div id="index" class="grid">
        {% for card in tree %}
            <div class="card">
                <div class="card-header">
                    <a href="{{ card.link }}.html">
                        <i class="fa fa-{{ card.icon }}"></i> {{ card.title }}
                    </a>
                </div>
                <div class="card-body">
                    <ul>
                        {% for child in card.children %}
                        <li><a href="{{ child[2] }}.html">
                                <span>{{ "%02d"|format(loop.index) }}</span>
                                <span>{{ child[0] }}</span>
                                <i class="fa-regular fa-circle-check"></i>
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
