<img src="">
<ul>
    <li class="top"><a href="index.html">Business Plan</a></li>
    {% for it_section, item in tree %}
        {% set sectionIsActive = section == it_section %}
        <li {{ sectionIsActive ? 'class="active"' : '' }}>
            <i class="fa fa-{{ item.icon }} fa-fw"></i>
            <a href="{{ item.link }}.html">{{ item.title }}</a>
        </li>

        {% if sectionIsActive %}
            {% for it_subsection, child in item.children %}
                {% set subsectionIsActive = it_subsection == page ?? -1 %}
                <li class="child {{ subsectionIsActive ? 'active' : '' }}">
                    <a href="{{ child[2] }}.html">{{ child[0] }}</a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
