{% extends "bp/layout.twig" %}



{% block content %}

    <div id="page-group">
        <div class="family {{ tree[section].color }}">
            <i class="fa fa-{{ tree[section].icon }} fa-background"></i>
            {{ tree[section].title }}
        </div>

        <ol>
        {% for child in tree[section].children %}
            <li><a href="{{ child[2] }}.html">
                    <div>
                        <span>{{ "%02d"|format(loop.index) }}</span>
                    </div>
                    <div>
                        <div>{{ child[0] }}</div>
                        <div>{{ child[1] }}</div>
                    </div>
                </a></li>
        {% endfor %}
        </ol>
    </div>

{% endblock %}
